{% extends 'base.html' %}
{% load static %}
{% block content %}

<main>
    <div>
      <h2>Nuestras cervezas</h2>
      <h2><a href="{% url 'store:create' %}">Crear una cerveza</a></h2>
      <div class="list">
        {% for store in store_list %}
        <div>
          
        <table>

          <tr>
        
            <th>Nombre</th>
        
            <th>Estilo</th>
        
            <th>Precio</th>

            <th>Stock</th>

            <th>Fecha habilitacion</th>

            <th>Acciones</th>
        
          </tr>
        
          <tr>
        
            <td>{{store.nombre}}</td>
        
            <td>{{store.estilo}}</td>
        
            <td>{{store.precio}}</td>

            <td>{{store.cantidad_disponible}}</td>
            
            <td>{{store.fecha_habilitacion}}</td>

            <td><div>
              <label for="">Detalles: </label>
              <a href="{% url 'store:detail' store.id  %}">🟢</a>
            </div>
            <div>
              <label for="">Borrar: </label>
              <a href="{% url 'store:delete' store.id %}">❌</a>
            </div>
            <div>
              <label for="">Editar: </label>
              <a href="{% url 'store:update' store.id %}">📋</a>
            </div></td>
        
          </tr>
      
        </table>

      <div>
        {% endfor %}
      </div>
  
    </div>
  </main>
{% endblock %}